<%= form_for @sighting, :html => { :class => "form-horizontal" } do |f| %>

  <!-- Label and input for location -->
  <div class="form-group">
    <%= f.label :location, "Location", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :location, :class => "form-control", :placeholder => "Address goes here" %>
    </div>
  </div>

  <!-- Label and input for search -->
  <div class="form-group">
    <%= f.label :search, "Inspect this location for rats", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
    <%= f.hidden_field :search, :class => "form-control" %>
    </div>
  </div>

  <!-- Label and input for bait -->
  <div class="form-group">
    <%= f.label :bait, "Bait this location", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
    <%= f.hidden_field :bait, :class => "form-control" %>
    </div>
  </div>

  <!-- Label and input for public -->
  <div class="form-group">
    <%= f.label :city_record_ok, "Bait this location", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
    <%= f.hidden_field :city_record_ok, :class => "form-control" %>
    </div>
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <%= f.label :description, "Description", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_area :description, :class => "form-control", :placeholder => "Optional...describe the rat's nest area or where you spotted it." %>
    </div>
  </div>

  <!-- Label and input for first_name -->
  <div class="form-group">
    <%= f.label :first_name, "First Name", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :first_name, :class => "form-control", :placeholder => "First name" %>
    </div>
  </div>

  <!-- Label and input for last_name -->
  <div class="form-group">
    <%= f.label :last_name, "Last Name", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last name" %>
    </div>
  </div>

  <!-- Label and input for email -->
  <div class="form-group">
    <%= f.label :email, "Location", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :email, :class => "form-control", :placeholder => "Email address" %>
    </div>
  </div>

  <!-- Label and input for mobile -->
  <div class="form-group">
    <%= f.label :email, "Phone", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :email, :class => "form-control", :placeholder => "888-888-8888" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Confirm" class="btn btn-success">
      or
      <a href="/">Cancel</a>
    </div>
  </div>
  <% end %>
</div>
